name: Deployment Pipeline

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 18.16.0
      - name: Move to backend folder
        run: cd backend
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test
        